<p id="notice"><%= notice %></p>

<h1>Prikaz Vasih kvizova</h1>

<% if !@quizzes.blank? %>


<div class="panel panel-primary">
  	
  	<div class="panel-heading">
		 <div class="row">
		  <div class="col-sm-12">Prikaz Vasih kvizova</div>
		</div>
	</div>
  	
  	<div class="panel-body">
<div class="table-responsive" id="tbl_myquiz">
<table class="table table-hover table table-bordered " >
  <thead style="background: black; color:white">
    <tr>
      <th style="width:70%;">Naslov</th>
      
      <th style="width:5%; text-align: center">Q</th>
      <th colspan="5" style="width:45%;"></th>
    </tr>
  </thead>

  <tbody>
  	
    <% @quizzes.each do |quiz| %>
    <%= render quiz%>
    <% end %>
  </tbody>
</table>

<%= render 'layouts/btn_new_quiz_pitanje' %>

</div>
	</div>
	
	<div class="panel-footer">
		
	</div>
	
</div>





<% else %>
<p>Vi trenutno nemate kreiran ni jedan kviz u bazi podataka
	<%= link_to 'Kreiraj novi kviz', new_quiz_path %>
	</p>

<% end %>

<br>


