<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hvala Vam na registraciji, <%= @user.name %>!</h1>
    <p>Kreirajte vlasiti kviz, ali i testirajte se na kvizove drugih krisnika!</p>
  </body>
</html>