<div class="center jumbotron">
  <h1>Welcome to the QuizoManiac</h1>

  <h2>
    Web aplikacija na kojoj kreirate vlastite kvizove podrzana
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a><br>
    Pristupite i kreirajte korisnicki nalog
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= #link_to image_tag("rails.png", alt: "Rails logo"),
            #'http://rubyonrails.org/' 
            %>
