<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Imate ukupno <%= str_gresaka(@user.errors.count) %>

      
      <%= #pluralize(@user.errors.count, "gresaka")
       %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg  %></li>
    <% end %>
    </ul>
  </div>
<% end %>