<div class="row">
  <div class="col-md-6" style="width:34%"><%= button_to "DODAJ NOVI KVIZ", new_quiz_path, :class => "btn btn-primary btn-block", :method => :get  %></div>
  <div class="col-md-6" style="width:33%"><%= button_to "DODAJ NOVO PITANJE", new_question_path, :class => "btn btn-primary btn-block", :method => :get  %></div>
<div class="col-md-6" style="width:33%"><%= button_to "DODAJ NOVI ODGOVOR", new_odgovor_path, :class => "btn btn-primary btn-block", :method => :get  %></div>
</div>