<footer class="footer">
  <small>
    <a href="https://sites.google.com/a/ictlab.com.ba/razvoj-internet-aplikacija/home">Objasnjenja RoR i lekcije</a>
    - <a href="mailto:turcinovic@gmail.com?Subject=Postovanje" target="_top">Posalji email</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "O aplikaciji",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://weblog.rubyonrails.org/">Novosti</a></li>
    </ul>
  </nav>
</footer>